@model ChatServer.Models.Rating
    <link rel="stylesheet" href="~/css/CreateRaiting.css" type="text/css" />
    @{
        ViewData["Title"] = "Create";
    }

    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4 text-light">
            <div class="background-form">
                <center><h1 class="text-light">Rate The Application!</h1></center>
                <hr class="text-light" />
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Score" class="control-label"></label>
                        <input asp-for="Score" class="form-control" />
                        <span asp-validation-for="Score" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Text" class="control-label"></label>
                        <input asp-for="Text" class="form-control" />
                        <span asp-validation-for="Text" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <br />
                        <input type="submit" value="Send!" class="btn btn-primary" />
                        <a class="btn btn-secondary link button-rating-create card-link" asp-action="Index">Back to List</a>

                    </div>
                </form>
            </div>
        </div>
    </div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
